<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Pdf</title>
    <style>
        h3 {
            text-align: center;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .second-table tr:first-child {
            width: 320px !important;
        }

        .second-table tr:nth-child(2) {
            width: 75px !important;
        }

        .second-table tr:nth-child(3) {
            width: 130px !important;
        }

        .second-table tr:nth-child(4) {
            width: 142px !important;
        }

        .second-table .head {
            background: rgb(242, 242, 242);
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h3>{{ .Title }}</h3>
<p>{{.Description}}</p>
<table class="second-table" style="margin-top: 10px;">
    <thead>
    <tr class="head">
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{.Company}}</td>
        <td>{{.Contact}}</td>
        <td>{{.Country}}</td>
        <td>{{.City}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>